{% extends 'base.html' %}
{% block title %}
    Fil d'actualité
{% endblock %}

{% block content %}

    <h2>Fil d'actualité</h2>
    <br>
    <div class="card">
        <table class="table table-striped">
            <tbody>

            <div style="font-weight: bold; font-size:18px">
            {{ unread_posts }} posts non lus
            </div>

            {% for post in posts %}
                {% if post.avertissement %}
                <tr class="danger">
                {% elif post.sticky %}
                <tr class="warning">
                {% else %}
                <tr>
                {% endif %}
                    <td>


                        <h4>
                            {% if  post.sticky %}
                                <div id="sticky" style="color:orange">

                                <i class="fa fa-bell"></i>
                            {% endif %}
                            {% if post.avertissement %}
                                <div id="avertissement" style="color:red">

                                <i class="fa fa-exclamation-triangle"></i>
                            {% endif %}
                            <a href={% url 'post' post.id %}>  {{ post.titre }}  </a>
                            </div>
                        </h4>
                </div>
                <p> {{ post.description }}</p>
                </td>
                <td>
                    <p>
                        <i class="fas fa-circle" style="color: {{ post|get_color:post.priorite }}"></i>
                        &nbsp &nbsp
                        <kbd>
                            <a style="color: white"
                               href={% url 'communaute' post.communaute.id%}> {{ post.communaute.nom }} </a>
                        </kbd>
                    </p>
                    {% if user == post.auteur %}
                        <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <a href={% url 'modif_post' post.id %} data-toggle="tooltip" title="Modifier le post">
                                <i class="fa fa-pencil-square-o"></i> </a>
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ counts|get_item:post.id }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ post.number_of_likes }}
                                <i class="fas fa-thumbs-up"></i>
                            </kbd>
                        </p>
                    {% else %}
                        <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ counts|get_item:post.id }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ post.number_of_likes }}
                                <i class="fas fa-thumbs-up"></i>
                            </kbd>
                        </p>
                    {% endif %}
                    {% if post.evenementiel %}
                        <p><i class='fas'>&#xf073;</i> Prévu le {{ post.date_evenement }}</p>
                    {% endif %}
                    <small style="color: grey">Date de création : {{ post.date_creation }}</small>

                    <div style="font-weight: bold">
                    {%  if post.lu == True %}
                        Lu
                    {% else %}
                        Non lu
                    {% endif %}
                    </div>

                    {% if request.user in post.likes.all %}
                        <a href={% url 'post_like' 0 post.id %} data-toggle="tooltip" title="Like">
                                    <i class="fa fa-thumbs-up" style='font-size:18px'></i></a>
                    {% else %}
                        <a href={% url 'post_like' 0 post.id %} data-toggle="tooltip" title="Like">
                                    <i class="fa fa-thumbs-up" style='font-size:18px; color:grey'></i></a>
                    {% endif %}

                    {% if request.user in post.lecteurs.all %}
                        <a href={% url 'post_read' 0 post.id %} data-toggle="tooltip" title="Like">
                                    <i class="fa fa-check-square" style='font-size:18px'></i></a>
                    {% else %}
                        <a href={% url 'post_read' 0 post.id %} data-toggle="tooltip" title="Like">
                                    <i class="fa fa-check-square" style='font-size:18px; color:grey'></i></a>
                    {% endif %}

                </td>
                </tr>
            {% endfor %}

    </tbody>
    </table>
    </div>

{% endblock %}
