{% extends 'base.html' %}
{% block title %}
    Fil d'actualité
{% endblock %}

{% block content %}

<h1>Fil d'actualité</h1>
    {% for post in posts %}
        <a href="/communitymanager/post/{{ post.id }}/"> <h5> {{ post.titre }} </h5> </a>
        {% if user == post.auteur %}
        <a href="/communitymanager/modif_post/{{ post.id }}/"> <h5> modifier le post </h5> </a>
        {% endif %}
        <p> {{ post.description }}</p>
        <p> {{ post.auteur }}</p>
        <p> {{ post.date_creation }}</p>
    {% endfor %}

{% endblock %}
