{% extends 'base.html' %}
{% block title %}
    Nouveau Post
{% endblock %}

{% block content %}

<h2> Création d'un nouveau post </h2>
<br>
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
        {% if field == form.description %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% else %}
        <p>
            {{ field.label_tag }}
            {{ field }}
        </p>
        {% endif %}
        <br>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Envoyer"/>
</form>

{% endblock %}