{% extends 'base.html' %}
{% block title %}
    Communautes
{% endblock %}

{% block content %}
    <h2>Clubs</h2>
    {% if error %}
        <div class="text-warning"><p> Désolé, cette communauté a été rendue invisible par l'administrateur </p></div>
    {% endif %}
    <br>
    <div class="card">
        <table class="table table-striped">
            {% if request.user.is_superuser or request.user in all_managers %}
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{% if request.user in all_managers %}<h4>Manager</h4>{% endif %}</th>
                    <th>{% if request.user.is_superuser %}<h4>Admin</h4>{% endif %}</th>
                </tr>
                </thead>
            {% endif %}

            <tbody>
            {% for com in communities %}
                <tr>
                    <td>

                        <h4>
                            <a href={% url 'communaute' com.id %}>

                                {% if  com.suspended == 1 %}
                                    <div class="text-muted">
                                    <i class="fa fa-user-lock"></i> Visible
                                {% elif com.suspended == 2 %}
                                    <div class="text-muted">
                                    <i class="fa fa-user-lock"></i> Invisible
                                {% else %}
                                    <div>
                                {% endif %}
                                {% if not com.open %}
                                    <i class="fa fa-lock"></i> Closed
                                {% endif %}

                                {{ com.nom }}
                                </div>
                            </a>
                        </h4>
                        <p> {{ com.description }}</p>
                    </td>

                    <td>
                        <p>

                            {% if com in abonnement %}
                                <a href={% url 'abonnement' "desabo" com.id %} data-toggle="tooltip"
                                   title="Se désabonner">
                                    <i class='fas fa-star' style='font-size:24px; color:#ffc800'></i>
                                </a>
                            {% else %}
                                <a href={% url 'abonnement' "abo" com.id %} data-toggle="tooltip" title="S'abonner">
                                    <i class='fas fa-star' style='font-size:24px; color:grey'></i>
                                </a>
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <p>
                            <!--Commandes pour managers-->
                            {% if com.user_is_manager %}
                                &nbsp &nbsp
                                <a href={% url 'modif_communaute' com.id %} data-toggle="tooltip"
                                   title="Modifier la communauté">
                                    <i class="fa fa-pencil-square-o"></i></a>
                                &nbsp &nbsp
                                <!-- Pour qu'un manager ferme ou ouvre une communaute-->
                                <a href={% url 'open_close_communaute' com.id %} data-toggle="tooltip"
                                   title="Cliquez pour 'open' ou 'close' la communauté en tant que manager">
                                    {% if com.open %}
                                        <i class="fa fa-lock"></i> Close</a>
                                    {% else %}
                                        <i class="fa fa-lock-open"></i> Open</a>
                                    {% endif %}
                                &nbsp &nbsp
                                <button id="button_bin" type="button" data-toggle="modal"
                                        title="Supprimer la communauté, attention, cette action est irréversible"
                                        data-target="#delete_communaute"
                                >
                                    <i class="fa fa-trash"></i>
                                </button>
                                &nbsp &nbsp

                                <!-- Fenetre pop-up de prévention de suppression de communauté -->
                                <div class="modal" id="delete_communaute">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Suppression de la communauté</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Voulez-vous vraiment supprimer la communauté ?
                                                Cette action est irréversible
                                            </div
                                                    <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><a
                                                        href={% url 'delete_communaute' com.id %} id="popup_oui" >Oui</a></button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><a
                                                        href={% url 'delete_communaute' com.id %} id="popup_oui" >Oui</a></button>

                                                <button type="button" class="btn btn-danger" data-dismiss="modal" color="green">
                                                    Annuler
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <p>
                            <!--Commandes pour admin ie superuser-->
                            {% if request.user.is_superuser %}
                                {% if not com.suspended %}
                                    &nbsp &nbsp
                                    <!-- Pour suspendre la communauté de manière visible-->
                                    <a href={% url 'suspend_communaute' com.id 1 %}>
                                        <i class="fa fa-user-lock"></i> Lock Visible</a>
                                    &nbsp &nbsp
                                    <!-- Pour suspendre la communauté de manière invisible-->
                                    <a href={% url 'suspend_communaute' com.id 2 %}>
                                        <i class="fa fa-user-lock"></i> Lock Invisible</a>
                                    &nbsp &nbsp
                                {% elif com.suspended == 1 %}
                                    &nbsp &nbsp
                                    <!-- Pour réouvrir la communauté-->
                                    <a href={% url 'suspend_communaute' com.id 0 %}>
                                        <i class="fa fa-user-shield"></i> Unlock</a>
                                    &nbsp &nbsp
                                    <!-- Pour suspendre la communauté de manière invisible-->
                                    <a href={% url 'suspend_communaute' com.id 2 %}>
                                        <i class="fa fa-user-lock"></i> Lock Invisible</a>
                                    &nbsp &nbsp
                                {% elif com.suspended == 2 %}
                                    &nbsp &nbsp
                                    <!-- Pour réouvrir la communauté-->
                                    <a href={% url 'suspend_communaute' com.id 0 %}>
                                        <i class="fa fa-user-shield"></i> Unlock</a>
                                    &nbsp &nbsp
                                    <!-- Pour suspendre la communauté de manière visible-->
                                    <a href={% url 'suspend_communaute' com.id 1 %}>
                                        <i class="fa fa-user-lock"></i> Lock Visible</a>
                                    &nbsp &nbsp
                                {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}