{% extends 'base.html' %}
{% block title %}
    Posts de {{ com.nom }}

{% endblock %}

{% block content %}

    <h2>{{ com.nom }}</h2>
    {% if com.user_is_manager%}
        {% if com.open  %}
            {% if com.suspended=="0" %}
    <button type="button" class="btn btn-light" >
    <a href="/communitymanager/nouveau_post/1"> <h4>
                                Créer Sticky Post <i class="fa fa-traffic-light"></i></a>
    </h4>
    </button>
                {% endif %}
        {% else %}
        <h4 style="font-weight:bold"> Désolé, cette communauté est fermée, vous ne pouvez plus ajouter de Sticky Post !</h4>
    {% endif %}
    {% endif %}


    <br>
    <br>
    <div class="card">
        <table class="table table-striped">
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <h4>
                            {% if  post.sticky %}
                                <div id="sticky" style="color:red">
                                <style>#sticky a {color:red}</style>
                                <i class="fa fa-grin-hearts"></i>
                                <i class="fa fa-tape"></i>
                                <i class="fa fa-grin-hearts"></i>
                            {% endif %}
                            {% if  not post.visible %}
                                <i class="fa fa-eye-slash" style="color:grey"></i>
                                <text style="color:grey">Hidden</text>
                            {% endif %}
                            <a href="/communitymanager/post/{{ post.id }}/">
                                {{ post.titre }}</a>
                            </div>
                        </h4>

                        <p> {{ post.description }}</p>
                    </td>
                    <td>
                        <p>
                            <i class="fas fa-circle" style="color: {{ post|get_color:post.priorite }}"></i>
                            &nbsp &nbsp
                            <kbd> {{ post.communaute.nom }} </kbd>
                        </p>
                        {% if user == post.auteur %}
                            <p> Par {{ post.auteur }}
                                &nbsp &nbsp
                                <a href="/communitymanager/modif_post/{{ post.id }}/">
                                    <i class="fa fa-pencil-square-o"></i> </a>
                                &nbsp &nbsp
                                <kbd style="background-color: #b4b0b0">
                                    {{ counts|get_item:post.titre }}
                                    <i class="fas fa-comment"></i>
                                </kbd>
                                &nbsp &nbsp
                        {% else %}
                            <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ counts|get_item:post.titre }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                             &nbsp &nbsp
                        {% endif %}
                        {% if com.user_is_manager%}
                            <a href="/communitymanager/visibility_post/{{ post.id }}/">
                                {% if  not post.visible %}
                                    <i class="fa fa-eye"></i> </a>
                                {% else %}
                                    <i class="fa fa-eye-slash"></i> </a>
                                {% endif %}
                            &nbsp &nbsp
                            <a href="/communitymanager/delete_post/{{ post.id }}/">
                                    <i class="fa fa-trash"></i></a>
                            &nbsp &nbsp
                        {% endif %}
                        </p>


                        {% if post.evenementiel %}
                            <p><i class='fas'>&#xf073;</i> Prévu le {{ post.date_evenement }}</p>
                        {% endif %}
                        <small style="color: grey">Dernière modification : {{ post.date_creation }}</small>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
