{% extends 'base.html' %}
{% block title %}
    Posts de {{ post.titre }}
{% endblock %}

{% block content %}
    <br>
    <div class="card" style="background-color: rgba(0, 0, 0, 0.1);">
        <table class="table mb-0">
            <tbody>
            <tr>
                <td>
                    <h4> {{ post.titre }} </h4>
                    <p> {{ post.description }}</p>
                </td>
                <td>
                    <p>
                        <i class="fas fa-circle" style="color: {{ post|get_color:post.priorite }}"></i>
                        &nbsp &nbsp
                        <kbd>
                            <a style="color: white"
                               href={% url 'communaute' post.communaute.id %}> {{ post.communaute.nom }} </a>
                        </kbd>
                    </p>
                    <!-- Modification du post ssi auteur non banned et que la communauté n'est pas suspendue par l'admin-->
                    {% if user == post.auteur and not post.communaute.suspended and post.communaute.open and user not in post.communaute.banned.all %}
                        <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <a href={% url 'modif_post' post.id %}>
                                <i class="fa fa-pencil-square-o"></i> </a>
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ count }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                        </p>
                    {% else %}
                        <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ count }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                        </p>
                    {% endif %}
                    {% if post.evenementiel %}
                        <p><i class='fas'>&#xf073;</i> Prévu le {{ post.date_evenement }}</p>
                    {% endif %}
                    <small style="color: grey">Dernière modification : {{ post.date_creation }}</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Commentaires : </h5>
    <div class="card">
        <table class="table table-striped">
            <tbody>
            {% for coment in coments %}
                <tr>
                    <td>
                        <p>
                            {% if not coment.visible %}
                                <text style="color:grey">
                                    <i class="fa fa-eye-slash"></i> Hidden
                                </text>
                            {% endif %}
                            {{ coment.contenu }}
                        </p>
                    </td>
                    <td>
                        <p style="font-style: italic; color: grey"> {{ coment.auteur }},
                            le {{ coment.date_creation }} </p>
                    </td>
                    <td>
                        {% if coment.user_is_manager and not post.communaute.suspended %}
                            {% if  not coment.visible %}
                                <a href={% url 'visibility_comment' coment.id %} data-toggle="tooltip" title="Rendre le commendaitre visible">
                                    <i class="fa fa-eye"></i> Afficher</a>
                            {% else %}
                                <a href={% url 'visibility_comment' coment.id %} data-toggle="tooltip" title="Rendre le commendaitre invisible">
                                    <i class="fa fa-eye-slash"></i> Masquer</a>
                            {% endif %}
                            &nbsp &nbsp
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                {% if post.communaute.open %}
                    <tr>
                        <td>
                            <p> Soyez le premier à commenter </p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Possibilité d'ajouter des commentaires ssi pas banned, open et suspended == 0 (d'où not suspended)-->
    {% if request.user not in post.communaute.banned.all %}
        {% if post.communaute.open and not post.communaute.suspended %}
            <form method="POST" action="" style="margin-left: 0px !important; margin-top: 5px">
                {% csrf_token %}
                <text style="font-weight:bold"> Ajouter un commentaire :</text>
                <input type="text" name="contenu">
                <input class="btn btn-primary" type="submit" value="Commenter"/>
            </form>
        {% else %}
            <text style="font-weight:bold"> Désolé, cette communauté est fermée, vous ne pouvez plus commenter !</text>
        {% endif %}
    {% else %}
        <text style="font-weight:bold"> Désolé, vous êtes bannis de cette communauté, vous ne pouvez plus commenter !
        </text>
    {% endif %}


    <button type="button" class="btn btn-light" style="float:right">
        <a href={% url 'communaute' post.communaute.id %}>
            <h4>
                <i class="fa fa-undo"></i> Retour à la Communauté
            </h4>
        </a>
    </button>
{% endblock %}