{% extends 'base.html' %}
{% block title %}
    Communautes
{% endblock %}

{% block content %}

    <h2>Clubs</h2>
    <br>
    <div class="card">
        <table class="table table-striped">
            <tbody>
            {% for com in communities %}
                <tr>
                    <td>
                        <a href="/communitymanager/communaute/{{ com.id }}/">
                            <h4> {{ com.nom }} </h4></a>
                        <p> {{ com.description }}</p>
                    </td>

                    <td>
                        <p>

                            {% if com in abonnement %}
                                <a href="/communitymanager/communautes/desabo/{{ com.id }}/">
                                    <i class='fas fa-star' style='font-size:24px; color:#ffc800'></i>
                                </a>
                            {% else %}
                                <a href="/communitymanager/communautes/abo/{{ com.id }}/">
                                    <i class='fas fa-star' style='font-size:24px; color:grey'></i>
                                </a>
                            {% endif %}

                            {% if com.user_is_manager %}
                                &nbsp &nbsp
                                <a href="/communitymanager/modif_communaute/{{ com.id }}/">
                                    <i class="fa fa-pencil-square-o"></i> </a>
                                &nbsp &nbsp
                            {% endif %}

                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}