


{% extends 'base.html' %}
{% block title %}
    Posts de {{ com.nom }}

{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ priorite_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

    <h2>{{ com.nom }}</h2>


    <!-- Sticky Post pour les Community Managers si la communauté n'est pas suspendue par l'admin
    et est bien ouverte par le community manager -->
    <button type="button" class="btn btn-light">
                        <a href={% url 'nouveau_post_com' 0 com.id %}>
                            <h4> New Post </h4>
                        </a>
                </button>
    {% if com.user_is_manager %}
        {% if not com.suspended %}
            {% if com.open %}
                <button type="button" class="btn btn-light">
                    <div id="sticky" style="color:orange">
                        <a href={% url 'nouveau_special_post' 1 com.id %}>
                            <h4>
                                <i class="fa fa-bell"></i> New Sticky Post
                            </h4>
                        </a>
                    </div>
                </button>
            {% else %}
                <h4 style="font-weight:bold"> Désolé, cette communauté est fermée par un Community Manager, vous ne
                    pouvez plus ajouter de Sticky
                    Post !</h4>
            {% endif %}
       {% else %}
            <h4 style="font-weight:bold"> Désolé, cette communauté est suspendue par un Administrateur, vous ne pouvez
                plus ajouter de Sticky
                Post !</h4>
        {% endif %}
    {% endif %}
    <!-- Avertissement Post pour les Administrateurs=Superuser -->
    {% if request.user.is_superuser %}
        <button type="button" class="btn btn-light">
            <div id="avertissement" style="color:red">
                <a href={% url 'nouveau_special_post' 2 com.id %}>
                    <h4>
                        <i class="fa fa-exclamation-triangle"></i> New Avertissement
                    </h4>
                </a>
            </div>

        </button>
    {% endif %}

    <br>
    <br>
    <div class="card">
        <table class="table table-striped">
            <tbody>
            {% for post in posts %}
                {% if post.avertissement %}
                <tr class="danger">
                {% elif post.sticky %}
                <tr class="warning">
                {% else %}
                <tr>
                {% endif %}
                    <td>
                        <h4>
                            {% if  post.avertissement %}
                                <div id="avertissement" style="color:red">
                                <i class="fa fa-exclamation-triangle"></i>
                            {% endif %}
                            {% if  post.sticky %}
                                <div id="sticky" style="color:orange">
                                <i class="fa fa-bell"></i>
                            {% endif %}
                            {% if  not post.visible %}
                                <i class="fa fa-eye-slash" style="color:grey"></i>
                                <text style="color:grey">Hidden</text>
                            {% endif %}
                            <a href={% url 'post' post.id %}>
                                {{ post.titre }}</a>
                            </div>
                        </h4>

                        <p> {{ post.description }}</p>
                    </td>
                    <td>
                        <p>
                            <i class="fas fa-circle" style="color: {{ post|get_color:post.priorite }}"></i>
                            &nbsp &nbsp
                            <kbd> {{ post.communaute.nom }} </kbd>
                        </p>
                        {% if user == post.auteur and not post.communaute.suspended and post.communaute.open and user not in post.communaute.banned.all %}
                            <p> Par {{ post.auteur }}
                                &nbsp &nbsp
                                <a href={% url 'modif_post' post.id %} data-toggle="tooltip" title="Modifier le post">
                                    <i class="fa fa-pencil-square-o"></i> </a>
                                &nbsp &nbsp
                                <kbd style="background-color: #b4b0b0">
                                    {{ counts|get_item:post.id }}
                                    <i class="fas fa-comment"></i>
                                </kbd>
                                &nbsp &nbsp
                                {% else %}
                            <p> Par {{ post.auteur }}
                            &nbsp &nbsp
                            <kbd style="background-color: #b4b0b0">
                                {{ counts|get_item:post.id }}
                                <i class="fas fa-comment"></i>
                            </kbd>
                            &nbsp &nbsp
                        {% endif %}
                        <!-- Pour masquer ou supprimer un post, il faut être manager.
                        Seul un Admin peut faire ces actions pour un avertissement -->
                        <!-- L'opérateur 'and' est prioritaire sur le 'or' -->
                        {% if com.user_is_manager and not post.avertissement or post.avertissement and request.user.is_superuser %}
                            {% if  not post.visible %}
                                <a href={% url 'visibility_post' post.id %} data-toggle="tooltip" title="Afficher le post pour les utilisateurs">
                                    <i class="fa fa-eye"></i> </a>
                            {% else %}
                                <a href={% url 'visibility_post' post.id %} data-toggle="tooltip" title="Masquer le poste pour les utilisateurs">
                                    <i class="fa fa-eye-slash"></i> </a>
                            {% endif %}
                            &nbsp &nbsp
                            <a href={% url 'delete_post' post.id %} data-toggle="tooltip" title="Supprimer le post, attention, cette action est irréversible">
                                <i class="fa fa-trash"></i></a>
                            &nbsp &nbsp
                        {% endif %}
                        {% if com.user_is_manager and not post.avertissement %}
                            {%  if post.sticky %}
                                <a href={% url 'sticky_modify_post' post.id %} data-toggle="tooltip" title="Unstick le post">
                                    <i class="fa fa-bell-slash"></i></a>
                            {% else %}
                                <a href={% url 'sticky_modify_post' post.id %} data-toggle="tooltip" title="Stick le post">
                                    <i class="fa fa-bell"></i></a>
                            {% endif %}
                            &nbsp &nbsp
                        {% endif %}
                        </p>


                        {% if post.evenementiel %}
                            <p><i class='fas'>&#xf073;</i> Prévu le {{ post.date_evenement }}</p>
                        {% endif %}
                        <small style="color: grey">Dernière modification : {{ post.date_creation }}</small>

                        {%  if lecture|get_item:post.id%}
                            Lu
                        {% else %}
                            Non lu
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}