{% extends 'base.html' %}
{% block title %}
    Communautes
{% endblock %}

{% block content %}

    <h2>Clubs</h2>
    {% if error %}
        <div class="text-warning"><p> Désolé, cette communauté a été rendue invisible par l'administrateur </p></div>
    {% endif %}
    <br>
    <div class="card">
        <table class="table table-striped">
            <tbody>
            {% for com in communities %}
                <tr>
                    <td>

                        <h4>
                            <a href={% url 'communaute' com.id %}>

                                {% if  com.suspended == 1 %}
                                    <div class="text-muted">
                                    <i class="fa fa-lock"></i> Visible
                                {% elif com.suspended == 2 %}
                                    <div class="text-muted">
                                    <i class="fa fa-lock"></i> Invisible
                                {% else %}
                                    <div>
                                {% endif %}
                                {% if not com.open %}
                                    <i class="fa fa-door-closed"></i> Closed
                                {% endif %}

                                {{ com.nom }}
                                </div>
                            </a>
                        </h4>
                        <p> {{ com.description }}</p>
                    </td>

                    <td>
                        <p>

                            {% if com in abonnement %}
                                <a href={% url 'abonnement' "desabo" com.id %}>
                                    <i class='fas fa-star' style='font-size:24px; color:#ffc800'></i>
                                </a>
                            {% else %}
                                <a href={% url 'abonnement' "abo" com.id %}>
                                    <i class='fas fa-star' style='font-size:24px; color:grey'></i>
                                </a>
                            {% endif %}

                            <!--Commandes pour managers-->
                            {% if com.user_is_manager %}
                                &nbsp &nbsp
                                <a href={% url 'modif_communaute' com.id %}>
                                    <i class="fa fa-pencil-square-o"></i></a>
                                &nbsp &nbsp
                                <!-- Pour qu'un manager ferme ou ouvre a communaute-->
                                <a href={% url 'open_close_communaute' com.id %}>
                                    <i class="fa fa-door-closed"></i></a>
                                &nbsp &nbsp
                                <a href={% url 'delete_communaute' com.id %}>
                                    <i class="fa fa-trash"></i></a>
                                &nbsp &nbsp
                            {% endif %}

                            <!--Commandes pour admin ie superuser-->
                            {% if request.user.is_superuser %}
                                {% if not com.suspended %}

                                    {% endif %}
                                &nbsp &nbsp
                                <!-- Pour suspendre la communauté de manière visible-->
                                <a href={% url 'suspend_communaute' com.id 1 %}>
                                    <i class="fa fa-lock"></i> Visible</a>
                                &nbsp &nbsp
                                &nbsp &nbsp
                                <!-- Pour suspendre la communauté de manière invisible-->
                                <a href={% url 'suspend_communaute' com.id 2 %}>
                                    <i class="fa fa-lock"></i> Invisible</a>
                                &nbsp &nbsp
                                &nbsp &nbsp
                                <!-- Pour réouvrir la communauté-->
                                <a href={% url 'suspend_communaute' com.id 0 %}>
                                    <i class="fa fa-lock-open"></i></a>
                                &nbsp &nbsp
                            {% endif %}

                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}