{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<header class="sticky-top">
<div class="container-fluid bg-dark text-white">
    <h1>CLUB-ED</h1>
    <hr style="margin-bottom: 0px">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-0 pl-0 mt-0">
        <!-- Nav tabs -->
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" role="tab" id="fil" href="/communitymanager/news_feed/">Fil d'actualité</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" role="tab" id="clubs" href="/communitymanager/communautes/">Liste des clubs</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" role="tab" id="post" href="/communitymanager/nouveau_post/">Créer un post</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" role="tab" id="com" href="/communitymanager/nouvelle_communaute/">Créer un club</a>
            </li>
             <li class="nav-item">
            <a class="nav-link" role="tab" id="logout" href="/deconnexion/">
                <span class="glyphicon glyphicon-log-out"></span> </a>
            </li>
        </ul>
    </nav>
</div>
</header>

<div class="container-fluid">
    {% block content %}  {% endblock %}
</div>
<br>
</body>
</html>